---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MilkdownMenu from "../../components/editor/MilkdownMenu.astro";
import "github-markdown-css/github-markdown.css";
import "../../assets/markdown.scss";
import "../../assets/milkdown.scss";
import "@fontsource-variable/material-symbols-outlined";
import "prosemirror-view/style/prosemirror.css";
---

<BaseLayout title="記録エディター" breadcrumbs={[{ title: "Top" }]}>
    <header>
        <div class="frontmatter">
            <div class="title">
                <label for="title">タイトル</label>
                <input
                    type="text"
                    id="title"
                    name="title"
                    placeholder="男体山 Team HONOKA"
                    required
                />
            </div>
            <div class="filename">
                <label for="filename">ファイル名</label>
                <input
                    type="text"
                    id="filename"
                    name="filename"
                    placeholder="2024_nanntai_HONOKA"
                    required
                />
                <label for="filename">.md</label>
            </div>
        </div>
        <MilkdownMenu />
    </header>
    <main id="milkdown"></main>
</BaseLayout>

<script>
    import {
        Editor,
        rootCtx,
        defaultValueCtx,
        editorViewOptionsCtx,
    } from "@milkdown/core";
    import { commonmark } from "@milkdown/preset-commonmark";
    import { gfm } from "@milkdown/preset-gfm";
    import { history } from "@milkdown/plugin-history";
    import { clipboard } from "@milkdown/plugin-clipboard";
    import { cursor } from "@milkdown/plugin-cursor";
    import { trailing } from "@milkdown/plugin-trailing";
    import { splitEditing } from "@milkdown-lab/plugin-split-editing";

    import {
        menu,
        menuListener,
    } from "../../components/editor/MilkdownMenu.ts";

    Editor.make()
        .config((ctx) => {
            ctx.set(rootCtx, "#milkdown");
            ctx.set(
                defaultValueCtx,
                "# Hello, Milkdown!\n\n本文をここに入力してください。"
            );
            ctx.update(editorViewOptionsCtx, (prev) => ({
                ...prev,
                attributes: { class: "markdown-body" },
            }));
        })
        .use(commonmark)
        .use(gfm)
        .use(history)
        .use(clipboard)
        .use(cursor)
        .use(trailing)
        .use(splitEditing)
        .use(menu)
        .create()
        .then(menuListener);
</script>

<style lang="scss">
    header {
        --menu-bg: #f8f8f8;
        --menu-border: #e0e0e0;
        --menu-bg-hover: #e0e0e01f;
        --menu-text-hover: #5e81ac;
        --menu-text: rgb(var(--on-background));
        position: sticky;
        top: 0;
        background-color: var(--menu-bg);
        box-shadow: 0 0 5px 2px;
        border-bottom: 1px var(--menu-border) solid;
        margin-bottom: 2rem;
        z-index: 100;

        @media (prefers-color-scheme: dark) {
            --menu-bg: #2e3440;
            --menu-border: #434b5e;
            --menu-bg-hover: #81a1c11f;
            --menu-text-hover: #5e81ac;
            box-shadow: none;
        }

        .frontmatter {
            display: flex;
            flex-flow: row wrap;
            justify-content: stretch;
            gap: 10%;
            padding: 1rem;
            border-bottom: 1px var(--menu-border) solid;

            > div {
                flex: 1 1 40%;
                padding: 0 1rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: stretch;
                align-items: center;
                label {
                    display: block;
                    font-size: 1rem;
                    width: 6rem;
                }
                input {
                    flex: 1 1 auto;
                    padding: 0.5rem;
                    font-size: 1rem;
                    background: none;
                    border: none;
                    border-bottom: 1px solid var(--menu-border);
                    color: rgb(var(--on-background));

                    &:focus {
                        background: var(--menu-bg-hover);
                    }
                }
            }
        }
    }
    main {
        margin: auto;
        padding: 1rem;
    }
</style>

<style lang="scss" is:global>
    .milkdown {
        .split-editor {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            .milkdown-split-editor {
                flex: 1 0 872px;
                max-width: 872px;

                &.hidden {
                    display: none;
                }
            }

            .editor {
                flex: 1 0 872px;
                max-width: 872px;
                padding: 1rem auto;
                min-height: 100vh;
            }
        }
    }
</style>
